<div class="main">
  <div class="panel">

    <%= form_for(@board) do |f| %>
    <div class="input_feeld">
    <%= f.label "Название" %><br>
    <%= f.text_field :title %>
    </div>
    <div class="input_feeld">
    <%= f.label "Уровень сложности" %><br>
    <%= f.text_field :hard_level %>
    </div>
    <div class="file"><br>
    <%= file_field "img",:image_name , class: "file_feld" %>
    </div>
    <div class="input_feeld file_button">
    <%= f.label "Файл картинки" %><br>
    <%= f.text_field :image_name, class: "file_feld_support" %>
    </div>

    <br>
    <%= f.fields_for :target do |t| %>
        <div class="input_feeld">
        <%= t.label "Координаты цели" %><br>
        </div>
        <div class="input_feeld begin">
        <%= t.label "начало x" %>
        <%= t.text_field :start_point_x, class: 'input_x' %>
        <%= t.label "начало y" %>
        <%= t.text_field :start_point_y, class: 'input_y' %>
        </div>
        <div class="input_feeld end">
        <%= t.label "конец  x" %>&nbsp;&nbsp;
        <%= t.text_field :end_point_x, class: 'input_x' %>
        <%= t.label "конец  y" %>&nbsp;&nbsp;
        <%= t.text_field :end_point_y, class: 'input_y' %>
        </div>
    <% end %>

    <div class="save">
    <%= f.submit "Сохранить" %>

    </div>

  <% end %>

  </div>
    <h2>Редактор "<%= @board.title %>" </h2>
    <div class="games">
     <div class="row" >
       <% if @board.image_name then %>
       <%= image_tag "/images/" + @board.image_name %>
       <% else %>
       <%= image_tag "/images/default_image.png" %>
       <% end %>
       <div class="clear-fix"></div>
     </div>

    </div>
</div>
</div>
