
<!DOCTYPE html>
<html>
<head>
  <title>WhereIsWaldo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Bad+Script|Poiret+One" rel="stylesheet">
  <link href="http://allfont.ru/allfont.css?fonts=a_stamperup-bold" rel="stylesheet" type="text/css" />

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>
<body>
<div class="content">
  <div class="clock"><p>00:00</p></div>
  <div class="resalt"><p></p></div>
  <div class="nav">
       <div class="logo"><img src="/images/logo.png" alt=""></div>
      <ul>
          <li><%= link_to 'Главная', where_is_waldo_home_url, :method => 'get' %></li>
          <li><%= link_to 'Старт', where_is_waldo_games_path, :method => 'get'  %></li>
          <li><%= link_to 'Таблица рекордов', where_is_waldo_records_url, :method => 'get'  %></li>
      </ul>
  </div>
  <%= yield %>
</div>

</body>
</html>
